@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navbar: #1e293b;
  --color-bor_of_sta_ent: #0000001a;
  --color-col_ofsta_eta: #ffffffb3;
  --color-bor_of_pro: #00000033;
  --color-pro_theme: #1e293b;
  --color-button_color: #0070f3;
  --color-button_color_hover: #0056b3;
  --color-footer_color: aliceblue;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-space: var(--font-space-grotesk);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url(../public/backgroundimg.png);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
